html,body,#app{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color:#Eff1F4;
}
.el-menu-item{
    /*margin-left: 100px;*/
    font-size: 16px;

}
/*.el-menu :first-child{*/
/*    margin-left: 30%;*/
/*}*/
.my{
    color: #fff;
    float:right;
    /*padding: 5px;*/
    margin-right: 50px;

}
a{
    text-decoration: none;
}




